.wrapper{
    margin-top: 160px;
    color: hsl(0, 0, 100);
    .cont{
        max-width: 1600px;
        margin: 0 auto;
        > h1{
            text-align: center;
            font-size: 100px;
            font-family: var(--font-clashDispaly);
            font-weight: 500;
        }
        p{
            margin-top: 20px;
            text-align: center;
            font-size: 32px;
            opacity: 0.6;
        }
        .cards{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            .card{
                width: 790px;
                height: 356px;
                border-radius: 40px;
                background-color: hsla(0, 0, 100, 0.02);
                display: grid;
            }
            >.left{
                background: linear-gradient(317deg, hsl(0, 0, 10) 60%, hsla(290, 23, 16)) ;
                span{
                    padding: 35px 40px;
                    .top{
                        display: flex;
                        align-items: center;
                        .left{
                            background-color: hsla(0, 0, 100, 0.03);
                            padding: 30px;
                            border-radius: 30px;
                            max-height: 112px;
                        }
                        .center{        
                            margin-left: 30px;
                            h1{
                                font-size: 40px;
                                font-family: var(--font-clashDispaly);
                                font-weight: 600;
                            }
                            button{
                                padding:12px 25px;
                                margin-top: 8px;
                                background-color: hsl(219, 65, 80);
                                border-radius: 100px;
                                font-weight: 600;
                                font-size: 18px;
                                color: hsl(0, 0, 0);
                            }
                        }
                        .right{
                            margin-left: 164px;
                        }
                    }
                    .bot{
                        margin-top: 30px;
                        font-size: 24px;
                        color: hsla(0, 0, 100, .8);
                    }
                }
            }
            >.right{
                background: radial-gradient(circle at bottom right,  hsla(205, 33, 19), hsla(290, 23, 16), hsl(0, 0, 10) 60% ) ;

                span{
                    padding: 35px 40px;
                    .top{
                        display: flex;
                        .left{
                            background-color: hsla(0, 0, 100, 0.03);
                            padding: 30px;
                            border-radius: 30px;
                            max-height: 112px;
                        }
                        .center{        
                            margin-left: 30px;
                            h1{
                                font-size: 40px;
                                font-family: var(--font-clashDispaly);
                                font-weight: 600;
                            }
                            button{
                                margin-top: 8px;
                                padding:12px 25px;
                                background-color: hsl(278, 65, 80);
                                border-radius: 100px;
                                font-weight: 600;
                                font-size: 18px;
                                color: hsl(0, 0, 0);
                            }
                        }
                        .right{
                            margin-left: 164px;
                        }
                    }
                    .bot{
                        margin-top: 30px;
                        font-size: 24px;
                        color: hsla(0, 0, 100, .8);
                    }
                }
            }
        }
    }
}