.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    p{
        background: none;
        color: var(--color-white);
    }
    .container{
        margin: 0 auto;
        max-width: 1600px;
        height: 126px;      
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            color: var(--color-yellow);
            font-family: var(--font-goldman);
            font-size: 50px;
        }
        .right{
            width: 674px;
            height: 66px;
            border-radius: 100px;
            border: 3px solid var(--color-white);
            display: flex;
            justify-content: space-between;
            // align-items: center;
            font-size: 22px;
            font-weight: 500;
            
            span{
                height: 12px;
                width: 2px;
                background-color: var(--color-background);
            }
            li{
                display: flex;
                align-items: center;
                cursor: pointer;
                
                transition: all ease-in-out;
                transition-duration: 0.3s;
                p{
                    background-color: none;
                    padding: 0 20px;

                    transition: all ease-in-out;
                    transition-duration: 0.3s;
                }
            }
            li.first{
                padding-left: 20px;
                border-radius: 100px 0 0 100px;
                p{
                    background-color: none;
                }
            }
            
            li.last{
                padding-right: 20px;
                border-radius: 0 100px 100px 0;

                p{
                    background-color: none;
                    border-right: none;
                }
            }
            li:hover{
                background-color: var(--color-white);
                p{
                    background: none;
                    color: var(--color-black);
                }
            }
            li.last:hover{
                p{
                    border-right: none;
                }
            }
            
        }
    }
}