.wrapper{
    text-align: center;
    font-family: var(--font-clashDisplay);
    font-weight: 500;
    padding-bottom: 120px;
    .up{
        color: var(--color-white);
        font-size: 120px;
        span{
            color: var(--color-purple);
        }
    }
    .down{
        color: var(--color-yellow);
        font-size: 60px;
    }
}