.wrapper{
    .cont{
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        >span{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        .card1{
            background-color:hsl(158, 65, 80);
            border-radius: 40px;
            width: 925px;
            height: 284px;
            padding: 36px 60px;
            h1{
                font-family: var(--font-clashDisplay);
                font-weight: 600;
                font-size: 60px;
            }
            p{
                margin-top: 20px;
                font-size: 28px;
                font-weight: 500;
                line-height: 150%;
            }
        }
        .card2{
            background-color:hsla(0, 0, 100, 0.05);
            border-radius: 40px;
            height: 284px;
            width: 655px;
            padding: 36px 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                h1{
                    font-family: var(--font-clashDisplay);
                    font-weight: 600;
                    font-size: 72px;
                    color: hsla(278, 65, 80);
                    span{
                        font-size: 24px;
                        color: hsla(278, 65, 80, 0.6);
                    }
                }
                p{
                    margin-top: -12px;
                    font-weight: 600;
                    font-size: 40px;
                    color: hsl(0, 0, 100);
                }
            }
            img{
                width: 145px;
                height: 147px;
            }
        }
        .card3{
            background: 
                url('/imgs/rocket.png'),
                linear-gradient(317deg, hsl(0, 0, 10) 60%, hsla(50, 97, 67, 0.3))
                ;
            background-position: 
                65% 30%,    
                0 0   
            ;    
  
            background-repeat: no-repeat;
            border-radius: 40px;
            width: 655px;
            height: 284px;
            padding: 36px 60px;
            h1{
                font-family: var(--font-clashDisplay);
                font-weight: 600;
                font-size: 30px;
                line-height: 150%;
                letter-spacing: 10%;
                color: hsl(0, 0, 100);
                max-width: 70%;
                margin-top: 20px;
            }
            button{
                float: right;
                display: flex;
                gap: 20;
                color: hsl(43, 100, 62);
                margin-top: 20px;
                font-size: 24px;
                font-weight: 500;
                font-family: var(--font-clashDisplay);
                font-weight: 600;
                margin-top: 56px;
                letter-spacing: 1px;
            }
        }
        .card4{
            border-radius: 40px;
            width: 925px;
            height: 284px;
            padding: 36px 60px;
            background-color:hsl(219, 65, 80);
            h1{
                font-family: var(--font-clashDisplay);
                font-weight: 600;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 1px;
                max-width: 70%;
            }
            p{
                margin-top: 20px;
                font-size: 28px;
                font-weight: 500;
                line-height: 150%;
            }
        }
        .card5{
            border-radius: 40px;
            width: 925px;
            height: 284px;
            padding: 36px 60px;
            background-color:hsl(277, 65, 80);
            h1{
                font-family: var(--font-clashDisplay);
                font-weight: 600;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 1px;
                max-width: 70%;
            }
            p{
                margin-top: 20px;
                font-size: 28px;
                font-weight: 500;
                line-height: 150%;
            }
        }
        .card6{
            width: 655px;
            height: 284px;
            padding: 60px 0;
            border-radius: 40px;
            transition: all ease-in-out;
            transition-duration: .3s;
            background: url('/imgs/Guy.png');
            background-repeat: no-repeat;
            background-position: 10% 60%;
            h1{
                font-family: var(--font-clashDisplay);
                font-weight: 400;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 2px;
                max-width: 70%;
                color: hsl(0, 0, 100);
                margin-left:208px;
            }
            button{
                background-color: hsla(0, 0, 100, 0.05);
                color: hsl(0, 0, 100);
                font-size: 20;
                font-weight: 600;
                width: 196px;
                height: 70px;
                border-radius: 100px;
                margin-left:268px;
                span{
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background-color: hsl(119, 79, 69);
                    border-radius: 10px;
                    margin: 0 8px 4px 0 ;
                }
            }
            button:hover{
                background-color: hsl(0, 0, 100);
                color: hsl(0, 0, 0);
                font-size: 20;
                font-weight: 600;
                width: 196px;
                height: 70px;
                border-radius: 100px;
                margin-left:268px;
                span{
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background-color: hsl(119, 79, 69);
                    border-radius: 10px;
                    margin: 0 8px 4px 0 ;
                }
            }
        }
        .card6:hover{
            outline: 3px solid hsla(0, 0, 100, 0.6); 
        }
    }
}