@import "tailwindcss";
@import "tw-animate-css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
}
body{
  background-color: hsl(0, 0, 3);
}

:root {
  --color-orange: hsl(36, 96, 65);
  --color-orangeDark: hsl(22, 96, 65);
  --color-yellow: hsl(43, 100, 73);
  --color-white: hsl(0, 0, 100);
  --color-whiteDimmed: hsla(0, 0, 100, 0.6);
  --color-black: hsl(0, 0, 0);
  --color-purple: hsla(278, 65, 80);
  --color-green: hsl(159, 65, 80);
  --color-blue: hsl(223, 65, 80);
  --color-background: hsla(0, 0, 100, 30%);
  --color-backgroundPr: hsla(0, 0, 3);
  --color-backgroundEl: hsl(0, 0, 6);
}