.accordion {
  margin: 2rem auto;
  border-radius: 8px;

  .item {
    border-radius: 30px;
    padding: 20px;
    background-color: hsl(0, 0, 5);
    color: var(--color-white);
    opacity: .6;
  }
  .item:hover { 
    background: hsla(0, 0, 100, 0.02);
    color: var(--color-white);
    opacity: 1;
  }
  

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background 0.2s;
    .title{
        font-size: 28px;
        font-weight: 500;
    }
    .icon {
      font-size: 1.5rem;
      font-family: monospace; // Keeps the sign width consistent
    }
  }

  .content {
    padding-top: 20px;
    display: grid;
    grid-template-rows: 0fr; // Hidden state
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;

    &.active {
      grid-template-rows: 1fr; // Revealed state
    }

    .inner {
      min-height: 0;
      padding: 0 1rem;
      color: #555;
      line-height: 1.6;
      
      // Add padding only when open to avoid "jumpy" animations
      padding-bottom:-3rem;
    }
  }
}