.wrapper{
    .back{
        height: 768px;
        width: 452px;
        position: absolute;
    }
    .front{
        height: 768px;
        width: 452px;
        position: absolute;
        background: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}