.wrapper{
    .cont{
        max-width: 1600px;
        margin: 0 auto;

        >h1{
            color: hsl(0, 0, 100);
            font-weight: 500;
            font-size: 100px;
            font-family: var(--font-clashDisplay);
            text-align: center;
        }
        >p{
            color: hsla(0, 0, 100, .6);
            font-size: 32px;
            text-align: center;
        }
        .cards{
            margin-top: 120px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .card{
                padding: 55px 45px;
                width: 520px;
                height: 587px;
                border-radius: 45px;
                background-color: hsla(0, 0, 100, 0.03);
                .vidget{
                    position: relative;
                    top: -86px;
                    padding: 12px 25px;
                    border-radius: 40px;
                    background-color: var(--color-purple);
                    font-family: var(--font-clashDisplay);
                    font-weight: 600;
                    font-size: 26px;
                }
                span{
                    position: relative;
                    top: -72px;
                    .top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .left{
                            color: var(--color-orangeDark);
                            font-size: 22px;
                            font-weight: 500;
                        }
                        .right{
                            color: var(--color-orangeDark);
                            font-family: var(--font-clashDisplay);
                            font-size: 40px;
                            color: var(--color-white);
                            font-weight: 400;
                        }
                    }
                    .bot{
                        h1{
                            color: var(--color-orange);
                            font-weight: 500;
                            font-size: 50px;
                            font-family: var(--font-clashDisplay);
                        }
                        p{
                            margin-top: 19px;
                            display: flex;
                            color: var(--color-whiteDimmed);
                            font-weight: 500;
                            font-size: 22px;
                            img{
                                margin-right: 12px;
                            }
                        }
                    }
                    button{
                        margin-top: 60px;
                        width: 100%;
                        padding: 26px 40px;
                        border-radius: 100px;
                        display: flex;
                        justify-content: space-between;
                        background-color: var(--color-yellow);
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }
            .cardCenter{
                .vidget{
                    background-color: transparent;
                    border: 3px solid var(--color-green);
                    color: var(--color-blue);
                }
            }
            .cardRight{
                span{
                    position: static;
                    .top{
                        opacity: 0.5;
                    }
                    button{
                        margin-top: 114px;
                        background-color: var(--color-white);
                    }
                }
            }
        }
    }
}